src/main/resources/META-INF/schema/pddl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.pddl.io/schema/pddl"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.pddl.io/schema/pddl"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"/>
    <!-- SHARDING DATASOURCE XSD DESCRIPTOR -->
    <xsd:element name="db-sharding">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="db-partitions" minOccurs="1" maxOccurs="1"/>
                <xsd:element ref="read-strategy" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="db-partitions">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="db-partition" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="read-strategy">
        <xsd:complexType>
            <xsd:attribute name="repository" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="db-partition">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="db-master" minOccurs="1" maxOccurs="1"/>
                <xsd:element ref="db-readonly" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
            <xsd:attribute name="poo-size" type="xsd:int" use="optional"/>
            <xsd:attribute name="read-strategy" type="readStrategyEnumType" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:simpleType name="readStrategyEnumType">
    	<xsd:restriction base="xsd:string">
		  <xsd:enumeration value="only-write"/>
		  <xsd:enumeration value="polling"/>	
		  <xsd:enumeration value="polling-w"/>
		  <xsd:enumeration value="power"/>
		  <xsd:enumeration value="power-w"/>
		  <xsd:enumeration value="weight"/>
		  <xsd:enumeration value="weight-w"/>
    	</xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="db-master">
        <xsd:complexType>
            <xsd:attribute name="ref" type="xsd:string" use="required" />
            <xsd:attribute name="weight" type="xsd:int" use="optional" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="db-readonly">
        <xsd:complexType>
            <xsd:attribute name="ref" type="xsd:string" use="required" />
            <xsd:attribute name="weight" type="xsd:int" use="optional" />
        </xsd:complexType>
    </xsd:element>
    <!-- SHARDING TABLE XSD DESCRIPTOR -->
    <xsd:element name="table-sharding">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="table-global" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="table-logic" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="table-global">
        <xsd:complexType>
            <xsd:attribute name="name" type="xsd:string" use="required" />
            <xsd:attribute name="partitions" type="xsd:string" use="required" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="table-logic">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="table-child" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="name" type="xsd:string" use="required" />
            <xsd:attribute name="partitions" type="xsd:string" use="required" />
            <xsd:attribute name="primaryKey" type="xsd:string" use="required" />
            <xsd:attribute name="postfixes" type="xsd:string" use="required" />
            <xsd:attribute name="strategy" type="xsd:string" use="required" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="table-child">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="table-child" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="name" type="xsd:string" use="required" />
            <xsd:attribute name="primaryKey" type="xsd:string" use="required" />
            <xsd:attribute name="foreignKey" type="xsd:string" use="required" />
        </xsd:complexType>
    </xsd:element>
    <!-- SHARDING TABLE STRAGERY XSD DESCRIPTOR -->
     <xsd:element name="table-strategy">
        <xsd:complexType>
        	<xsd:attribute name="id" type="xsd:string" use="required" />
            <xsd:attribute name="columns" type="xsd:string" use="required" />
            <xsd:attribute name="expression" type="xsd:string" use="optional" />
            <xsd:attribute name="strategy" type="xsd:string" use="optional" />
        </xsd:complexType>
    </xsd:element>
    
</xsd:schema>
